@using CardSite1.Models.CardComponents;
@using Newtonsoft.Json

@model CardSite1.Models.CardModel

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/editCard.js")"></script>
    <script>
        $(document).ready(function () {
            var card = @Html.Raw(JsonConvert.SerializeObject(Model));
            showWorkSpace();
            showCard(card);
        });
</script>
}

<h2>@Model.Name</h2>
<canvas width='900' height='450' style="background: #ffffff" id="workspace"></canvas>
<button onclick="cl();">click me</button>