@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blocked</title>
</head>
<body>
    <h2>
        Blocked
    </h2>
    <a href="@Url.Action("LogOff","Account")">Back</a>
</body>
</html>
